<div class="container mt-4">
  <h1>Tabella Utenti</h1>
  <table class="table table-bordered table-active table-responsive" >
      <thead>
          <tr>
              <th>ID</th>
              <th>Username</th>
              <th>Nome</th>
              <th>Cognome</th>
              <th>Email</th>
              <th>Email3</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let utente of utenti">
              <td>{{utente.id}}</td>
              <td>{{utente.username}}</td>
              <td>{{utente.nome}}</td>
              <td>{{utente.cognome}}</td>
              <td>{{utente.email}}</td>
<button (click)="loadUserId(utente.id)">click</button>



<div *ngIf="utenteID">
  <table class="table table-bordered table-active table-responsive" >
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Email</th>
            <th>Email3</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let utenteID of utenteID.dispositiviAssegnati">
            <td>{{utenteID.id}}</td>
            <td>{{utenteID.tipoDispositivo}}</td>
            <td>{{utenteID.nome}}</td>
            <td>{{utenteID.disponibilitaDispositivo}}</td>
            <td>{{utenteID.modelloDispositivo}}</td>


        </tr>

    </tbody>
  </table>
  </div>



          </tr>

      </tbody>
  </table>
</div>





<div class="container mt-4">
  <h1>Tabella Dispositivi</h1>
  <table class="table table-bordered table-active table-responsive">
      <thead>
          <tr>
              <th>ID</th>
              <th>Username</th>
              <th>Nome</th>
              <th>Cognome</th>
              <th>Email</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dispositivo of dispositivi">
          <td>{{dispositivo.id}}</td>
          <td>{{dispositivo.tipoDispositivo}}</td>
          <td>{{dispositivo.disponibilitaDispositivo}}</td>
          <td>{{dispositivo.utente}}</td>
          <td>{{dispositivo.modelloDispositivo}}</td>
      </tr>
      </tbody>
  </table>
</div>


